*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url("../assets/ghana.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(8px);
    
}

.innerContainer{
    height: 80%;
    width: 70%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;

}
.innerContainer.active{
    visibility: hidden;
}
.col-left{
    width: 45%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    background-color: rgba(0,0,0,.2);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 7s infinite;
}

@keyframes slide{
    0%{
        background-image: url(../assets/ghana.jpeg);

    }
    30%{
        background-image: url(../assets/male.jpeg);

    }
    
    50%{
        background-image: url(../assets/one.webp);

    }
    60%{
        background-image: url(../assets/female.jpeg);
    }
    80%{
        background-image: url(../assets/ghana.jpeg);
    }

    100%{
        background-image: url(../assets/siz.png);

    }
}
.col-left p{
    color: black;
    margin: 20px;
    /* z-index: 500; */
    margin-top: 20%;
    
}
.description{
    background-color: rgba(255,255,255,.1);
    margin-left: 20px;
    height: 80%;
}

.col-right{
    width: 55%;
    height: 100%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    background-color: rgba(0,0,0,.2);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.col-right h2{
    position: absolute;
    top: 10%;
    left: 30%;
    color: white;
}
.col-right form{
    height: 68%;
    width:80%;
    position: relative;
    top: 10%;
    border:1px solid white;
    margin-bottom: 10%;
    border-radius: 5%;
    
    
   
}

label:first-child{
    position: relative;
    left:5%;
    top:10%;
    font-weight: 500;
}

 .name{
    position: relative;
    left :20%;
    top:10%;
    padding: 7px;
    
}

.date{
    position: relative;
    left :16%;
    top:15%;
    padding: 5px;
    width: 195px;
    font-weight: 500;

}
.dob{
    position: relative;
    left:5%;
    top:15%;
}


.gender{
    position: absolute;
    left:6%;
    top:40%;
    font-weight: 500;
}

.female{
    position: absolute;
    top:40%;
    left: 43%;
    font-weight: 500;
}
.male{
    position: absolute;
    top:40%;
    font-weight: 500;

}

.femaleRadio{
    position: absolute;
    top:41%;
    left: 58%;
    font-weight: 500;

}
.maleRadio{
    position: absolute;
    top:41%;
    left: 84%; 
    font-weight: 500;
   
}

.btn{

    position:absolute;
    top:55%;
    left: 40%;
    padding: 8px;
    width: 70px;
    background-color: transparent;
    color: white;
    border-radius: 25px;
    z-index: 500;
}

.btnreset{

    position:absolute;
    top:55%;
    left: 70%;
    padding: 8px;
    width: 70px;
    background-color: transparent;
    color: white;
    border-radius: 25px;
    z-index: 500;
}
.resultBox{
    height: 350px;
    width: 400px;
    background-color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: Consolas;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 25px;
    visibility: hidden;


}
.btn{
    cursor: pointer;
}
.btnreset{
    cursor: pointer;
    
}

.close{
    position: absolute;
    top:0%;
    right:0%;
    background-color: white;
    height: 6%;
    width: 5%;
    display: flex;
    align-items: cente;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    
}

.resultBox.active{
    visibility: visible;
}

.resultBox{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#results{
    position: absolute;
    top:-20%;
    color: blanchedalmond;
    font-style: oblique;
    font-weight: 600;
}